{% extends "base.html" %}

{% block title %}
    Itinerário das linhas 	
	{% if route_type %}
		{% ifequal route_type "onibus" %} 
		    de ônibus
		{% endifequal %}           
		{% ifequal route_type "trem" %} 
		    de trem
		{% endifequal %}
		{% ifequal route_type "metro" %} 
		    de metrô
		{% endifequal %}
    {% else %}
        de ônibus, trem e metrô
    {% endif %} 	
	de São Paulo - Tô a Pé
{% endblock%}
       
{% ifnotequal route_type "" %}
    {% block description %}
        Lista das linhas 
        {% ifequal route_type "onibus" %} 
            de ônibus
        {% endifequal %}           
        {% ifequal route_type "trem" %} 
            de trem
        {% endifequal %}
        {% ifequal route_type "metro" %} 
            de metrô
        {% endifequal %}
        da cidade de São Paulo
    {% endblock%}
{% endifnotequal %}

{% block content %}
		<h1>
		  Lista de Itinerários
		  {% ifequal route_type "onibus" %} 
            de Ônibus
          {% endifequal %}            
          {% ifequal route_type "trem" %} 
            de Trem
		  {% endifequal %}
          {% ifequal route_type "metro" %} 
            de Metrô
          {% endifequal %}		  
		</h1>
		<ul>
			{% for route in routes %}
				<li>
					<a href="{{ route.get_absolute_url }}"
		               class="screenshot"
		               rel="{{ route.preview_image_url }}"
		               title="{{ route.long_name }}"
		            >
						{{ route.short_name }} - {{ route.long_name }}
					</a>
				</li>
			{% endfor %}
		</ul>
		<div class="buttons">
            {% if back_url %}
                <div class="back"><a href="{{ back_url }}">Anterior</a></div>
            {% endif %}
			{% if next_url %}
				<div class="next"><a href="{{ next_url }}">Próximo</a></div>
			{% endif %}
		</div>
{% endblock %}
