{% extends "base.html" %}

{% block content %}
		<h1>Lista de Itinerários de Ônibus</h1>
		<ul>
			{% for route in routes %}
				<li>
					<a href="{{ route.get_absolute_url }}"
		               class="screenshot"
		               rel="{{ route.preview_image_url }}"
		               title="{{ route.long_name }}"
		            >
						{{ route.short_name }} - {{ route.long_name }}
					</a>
				</li>
			{% endfor %}
		</ul>
		<div class="buttons">
            {% if back_url %}
                <div class="back"><a href="{{ back_url }}">Anterior</a></div>
            {% endif %}
			{% if next_url %}
				<div class="next"><a href="{{ next_url }}">Próximo</a></div>
			{% endif %}
		</div>
{% endblock %}
