{{ stop.desc }}
<ul>
<br />

<p><i>Linhas:</i>
{% for trip in trips %}
    {% ifchanged trip.route %}
        {% spaceless %}    
            <a href="{{ trip.route.get_absolute_url }}"
               class="screenshot"
               rel="http://maps.google.com/maps/api/staticmap?size=300x300&sensor=false&path=weight:4|color:blue|enc:{{ trip.shape_encoded_polyline }}"
               title="{{ trip.route.long_name }}"
            >{{ trip.route.id }}</a>;
        {% endspaceless %}
    {% endifchanged %}        
{% endfor %}
</p>

<br />